<!DOCTYPE html>

<title>Hello EmailsController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour Cher candidat de la Promotion 3 de sonatel academy,</h1>
    <p>
        Après les différentes étapes de sélection que tu as passé avec brio,
        nous t’informons que ta candidature a été retenue pour intégrer la
        troisième promotion de la première école de codage gratuite du Sénégal.
    </p>
    <p>
        Rendez-vous le lundi 09 Mars 2020  à 8 heures précises dans nos locaux
        du Orange Digital Center sis Immeuble Scalène Mermoz Ecole Police lot B
        Dakar. Merci de venir muni de ta pièce d’identité nationale ou passeport.
    </p>
</div>
{% endblock %}
